{% comment %} <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>

            <input type="text" name="user_id" id="user_id">
            <button type="button" id="but"></button>
        {% block content %}
            {% endblock %}
            <script>
                $("#but").click(function(e) {
                    e.preventDefault();
                    $.ajax({
                        type: "GET",
                        url: "GetTransactionsSum/",
                        success: function(result) {
                            
                        },
                        error: function(result) {
                           
                        }
                    });
                });
            </script>
</body> {% endcomment %}
